:root {
    --main-color: #e60003;
    --soft-white: #fff;
    --semi-white: #fcf7f7;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.container {
    min-width: 290px;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: var(--main-color);
    margin: auto;
    position: relative;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--semi-white);
}

.content__title {
    color: var(--soft-white);
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 8px;
}

@media (min-width: 359px) {
    .content h1 {
        font-size: 18px;
    }
}

/* header */
.header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    min-width: 319px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #e2e8f0;
}

.header__left {
    display: inline-flex;
    align-items: center;
}

/* footer */

.footer {
    flex-shrink: 0;
    color: #d7dbda;
    letter-spacing: -0.1px;
    font-size: 7px;
    line-height: 10px;
    margin: 10px 0;
}

.footer a {
    margin-top: 10px;
    color: inherit;
    text-decoration: underline;
}

.app-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

@media (min-width: 768px) {
    .app-call {
        flex-direction: row;
        align-items: center;
    }
}

.app-call__book {
    color: var(--main-color);
    font-size: 10px;
    line-height: 14px;
    font-weight: 700;
    border-bottom: 1px dashed var(--main-color);
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}

.app-call__book:hover {
    opacity: .8;
}

.app-call__number {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #2a2928;
    margin-bottom: 2px;
}

@media (min-width: 768px) {
    .app-call__number {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

/* product-block */
.product-block {
    min-height: 273px;
    background: url("../images/Ring_Diamond.png") no-repeat;
    position: relative;
    max-width: 330px;
    margin: 0 auto;
    background-size: 310px;
    background-position-x: 4px;
}

@media (min-width: 359px) {
    .product-block {
        min-height: 253px;
        background-size: 319px;
        background-position-x: 0;
    }
}

.product-block__text .p-line-through {
    text-decoration: line-through;
}

.product-block__text h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 40px;
}

.product-block__text h1 span {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-left: 5px;
}

.product-block__text h2 {
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
}

.product-block__text:first-child {
    margin-bottom: 24px;
}

.product-block__text:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 20px;
}

@media (min-width: 359px) {
    .product-block__text:nth-child(3) {
        bottom: 33px;
    }
}

/* form block */

.form {
    width: 100%;
    margin-top: 18px;
}

.form__bottom {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.form__bottom .form__btn {
    width: calc(100% - 119px);
    margin-right: 16px;
}

.form__btn {
    height: 48px;
    border: none;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.2px;
    background-color: var(--semi-white);
    color: var(--main-color);
    box-shadow: inset 0 -1px 0 rgba(230, 0, 3, 0.16);
    border-radius: 1px;
    position: relative;
    overflow: hidden;
    will-change: background-color, box-shadow;
    transition: background-color 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

@media (min-width: 359px) {
    .form__btn {
        font-size: 14px;
    }
}


.form__btn:hover {
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(42, 40, 40, 0.16), 0 0 8px rgba(42, 40, 40, 0.08);
}

.form__btn:hover:after {
    left: 120%;
}

.form__btn:active {
    border: 2px solid var(--main-color);
    outline: 1px solid var(--soft-white) !important;
    box-shadow: none;
}

.form__btn:after {
    background: #fff;
    content: "";
    height: 9.6875rem;
    left: -4.6875rem;
    opacity: 0.7;
    position: absolute;
    top: -50px;
    transform: rotate(
            35deg
    );
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 3.125rem;
    z-index: 1;
    animation-delay: 0.01s;
    animation-timing-function: ease-in-out;
    animation-name: radiance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.form__btn-close {
    display: inline-block;
    color: #736d6d;
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 24px;
    text-decoration: underline;
    margin-top: 24px;
    cursor: pointer;
}

.form__input-field {
    position: relative;
}

.input {
    color: #fff;
    width: 100%;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 1px;
    border: 1px solid var(--semi-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
}

.input::placeholder {
    opacity: 0;
}

.input:hover {
    border-color: #f2f3f3;
}

.input:disabled {
    border-color: rgba(242, 243, 243, .5);
}

.input:disabled + .input-text {
    color: rgba(242, 243, 243, .5);
}

.input:not(:placeholder-shown), .input:focus {
    padding-top: 14px;
}

.input:not(:placeholder-shown) + .input-text,
.input:focus + .input-text {
    font-size: 12px;
    line-height: 12px;
    top: 6px;
}

.input-text {
    position: absolute;
    top: 12px;
    left: 12px;
    pointer-events: none;
    font-size: 14px;
    line-height: 24px;
    color: var(--semi-white);
    transition: all 200ms ease-in-out;
}

/*
.input-error .input, .input-error .input:hover {
    background-color: var(--soft-white);
}

.input-error .input {
    color: #2a2928;
}

.input-error .input-text {
    color: #dc1414;
}
*/



.modal-view {
    display: none;
    padding: .9rem;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
}

.modal-view .container {
    padding: 0;
}

.modal-view.modal-view--open {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-view .modal-view-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-view .modal-view-close {
    position: absolute;
    cursor: pointer;
}

.modal-view h1 {
    color: #282a29;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.3px;
}

@media (min-width: 359px) {
    .modal-view h1 {
        font-size: 32px;
        line-height: 40px;
    }
}

.modal-view .modal-view-close {
    top: 10px;
    right: 10px;
}

.modal-view__form {
    margin-top: 31px;
}

.modal-view__form .input {
    color: #282a29;
    font-size: 18px;
    border-color: #dbd7d7;
    height: 56px;
}

.modal-view__form .input-text {
    font-size: 18px;
    color: #a7a0a0;
    top: 16px;
}

.modal-view__form .input:not(:placeholder-shown), .modal-view__form .input:focus {
    padding-top: 16px;
}

.modal-view__form .input:not(:placeholder-shown) + .input-text,
.modal-view__form .input:focus + .input-text {
    top: 8px;
}

.modal-view__form .form__btn {
    height: 56px;
    margin-top: 16px;
    background-color: var(--main-color);
    color: #f8f6f6;
    box-shadow: 0 8px 8px rgba(230, 0, 3, 0.16), 0 0 8px rgba(230, 0, 3, 0.08);
}

.modal-view__form .form__btn:after {
    opacity: .2;
}

.modal-view__form .form__btn:active {
    border: 1px solid var(--soft-white);
    outline: 2px solid rgba(230, 0, 3, 0.32) !important;
    box-shadow: none;
}

.modal-view__form .error_alert {
    border: 1px solid red;
    bottom: -.5rem;
}

/* success block */

.success-block {
    margin: 200px auto;
    color: #282a29;
    padding-left: 68px;
}

.success-block p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.success-block h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 40px;
}

/* error block */
.error_wrapper {
    position: relative;
    width: 100%;
    max-width: 25.875rem;
}

.error_alert {
    font-size: 10px;
    text-transform: uppercase;
    color: red;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    right: .5rem;
    bottom: -.4rem;
    padding: 3px;
    line-height: 8px;
    border-radius: 1px;
}

@media (min-width: 768px) {
    .success-block {
        padding-left: 15px;
    }

    .success-block.container {
        max-width: 768px;
    }

    .success-block h1 {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -0.8px;
        line-height: 56px;
    }
}

@keyframes radiance {
    0% {
        left: -30px;
        margin-left: 0;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}